@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Not Found";
}
<br />
<div class="alert alert-danger">
    The Page you called does not exist or you lack the permissions to access it.
</div>