@model vNextAdminLib.Components.Form.Form
<form role="form" @Html.Raw(Model.GetTagAttributes())>
    @foreach (var item in Model.Children)
    {
    @await Component.InvokeAsync(item.ViewComponentIdentifier, item)
    }
</form>